<% form_for :actor, url: actors_new_path do |f| %>
  <article>
  <p>
    <% f.label :name %>
    <% f.text_field :name %>
  </p>
  <p>
    
  </p>
  </article>
<% end %>

<!--       t.string :name, limit: 100
      t.text :bio
      t.date :birth_date
      t.string :birth_place, limit: 100
      t.string :image_url
      t.boolean :alive
      t.date :death_date
      t.string :death_place, limit: 100 -->